* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: black;
    text-decoration: none;
    transition: 0.3s;
    font-family: "DM Serif Display", serif;
}

a:hover {
    opacity: 0.7;
    color: #FEFAE0;
}

.nome {    
    margin-top: 10px;
    font-size: 74px;
    letter-spacing: 4px;
    font-family: 'Corinthia', 'cursive', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    font-size: 34px;
    background-color: #D4A373;    
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 4px;
    margin-left: 30px;
}

/*-- Mobile menu --*/

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: black;
    margin: 9px;
}

/*-- Section about--*/

.about {
    padding: 80px;
    background: #FEFAE0;
    text-align: center;
}

.container {
    display: flex;
    margin: 10px 10px 10px 10px;
}

p.about_me {
    font-size: 20px;
    display: flex;    
    align-items: center;
    text-align: justify;
    padding: 80px;
    line-height: 40px;        
}

button.button1 {
    margin-top: 40px;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 5px 8px 10px rgb(0, 0, 0);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
   }

   .button1:hover {
    background-color: #CCD5AE;
    box-shadow: 5px 8px 10px rgb(0, 0, 0);
    color: #fff;
    transform: translateY(-10px);
   }
   
   .button:active {
    transform: translateY(-1px);
   }

/*-- Section languages--*/

.languages { 
    padding: 50px;     
    background: #FAEDCD;    
}

h1 {
    font-family: "DM Serif Display", serif;
    color: black;
    font-size: 4rem;    
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: -90px;
}

.languageLearned {
    padding: 100px;  
    display: flex;    
    justify-content: center;
    align-content: center;   
}

img.language {
    margin: 30px;
    justify-content: space-between;
    border-radius: 19px;
    background: #FAEDCD;
    box-shadow:  6px 6px 5px #99917d,
             -6px -6px 5px #ffffff;    
}

img.language:hover {
     background: #D4A373;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 35px;
    opacity: 0.9;
    transition: 0.7s ease-in-out;
}

/*-- Section projects--*/
.project {
    padding: 100px;
    background: #FEFAE0;
}

.project1 {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.project1 h1 {
    margin-top: -200px;
    font-family: "DM Serif Display", serif;
    color: black;
    font-size: 4rem;
}

.gallery-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;    
}

.galery-items{  
    border: 10px solid #D4A373;
    box-shadow: 5px 5px 5px #006;    
    transition: .5s linear;    
}


.galery-items:hover {
    transform: scale(1.2);
    filter: none;
    border: 10px solid black;    
}

/*-- Section social links--*/

.socialLinks {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;  
}

.button {   
    height: 60px;
    width: 60px;
    margin: 0 40px;   
    background: #FEFAE0;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-out;
    overflow: hidden;
}
.button:hover {
    background: #FEFAE0;
    width: 200px;
    align-items: center;
    transition: all 0.5s ease-out;
}
.icon {    
    text-align: center;
    border-radius: 50%;
    line-height: 60px;
    box-sizing: border-box;
}

.icon:hover {
    width: 200px;
    margin-left: -10px;
    align-items: center;     
}

.icon i {
    font-size: 20px;
    line-height: 60px;    
}

span {
    font-size: 20px;   
    line-height: 60px;
    margin-left: 30px;
    margin-top: -10px;    
}


/*-- Section footer--*/

.footer {
    padding: 10px;
    background: #E9EDC9;
    justify-content: center;
    text-align: center;
}

.developed {
    margin: auto;
}

/*Responsividade*/

@media (max-width: 990px) {
    body {
        overflow-x: hidden;
    }

    .nome {
        font-size: 30px;
        
    }

    .nav-list {
        position: absolute;
        top: 10vh;        
        width: 100vh;
        height: 92vh;
        background: #FEFAE0;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        font-size: 30px;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateY(50px);
        } 
        to {
            opacity: 1;
            transform: translateX(0);
        }
    } 

    /*Section about*/
.about {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 0;
    
}

.container {
        padding: 50px;
        flex-direction: column;
        width: 60vh;
    }

p.about_me {
        font-size: 2vh;
        justify-content: center;
        align-content: center; 
        padding: 10px;
        margin-top: -50px;
        line-height: 5vh;           
    }

.about_img {
    width: 49vh;
    height: 49vh;
    align-self: center;
    }

button.button {
        margin-top: 0px;
    }
}