* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a.navList {
    color: #bf5b04;
    text-decoration: none;
    transition: 0.3s;
    font-family: "DM Serif Display", serif;
}

a.navList:hover {
    opacity: 0.7;
    color: #d9d9d9;
}

.nome {    
    margin-top: 10px;
    font-size: 74px;
    letter-spacing: 4px;
    font-family: 'Corinthia', 'cursive', sans-serif;
    color: #bf5b04;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    font-size: 34px;
    background-color: #121011;
    
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 4px;
    margin-left: 30px;
}

/*-- Mobile menu --*/

.mobile-menu {
    cursor: pointer;
    display: none;
}

.mobile-menu div {
    width: 32px;
    height: 1px;
    background: #bf5b04;
    margin: 9px;
}

/*-- Section about--*/

.about {
    padding: 80px;
    background: #d9d9d9;
    text-align: center;
}

.container {
    display: flex;
    margin: 10px 10px 10px 10px;
}

p.about_me {
    font-size: 20px;
    display: flex;    
    align-items: center;
    text-align: justify;
    padding: 80px;
    line-height: 40px;        
}

button.button1 {
    margin-top: 40px;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    background-color: #121011;
    border: none;
    border-radius: 45px;
    box-shadow: 5px 8px 10px rgb(0, 0, 0);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    color: #bf5b04;
   }

   .button1:hover {
    background-color: #bf5b04;
    box-shadow: 5px 8px 10px rgb(0, 0, 0);
    color: #121011;
    transform: translateY(-10px);
   }
   
   .button:active {
    transform: translateY(-1px);
   }

/*-- Section languages--*/

.languages { 
    padding: 50px;     
    background: #121011;   
}

.languageLearned {
    padding: 100px;  
    display: flex;    
    justify-content: center;
    align-content: center;   
}

img.language {
    margin: 30px;
    justify-content: space-between;
    border-radius: 19px;
    box-shadow: 05px 05px 05px #4c2402,
             -05px -05px 05px #ff9206;
}

/*-- Section projects--*/
.project {
    padding: 100px;
    background: #d9d9d9;
}

.gallery-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2vw;    
}

.galery-items{  
    border: 05px solid #bf5b04;
    box-shadow: 5px 5px 5px #121011;    
    transition: .4s linear;    
}

.galery-items:hover {
    transform: scale(1.1);
    filter: none;
    border: 05px solid black;    
}

/*-- Section social links--*/

.socialLinks {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #d9d9d9;  
}

.button {   
    height: 60px;
    width: 60px;
    margin: 0 40px;   
    background: #FEFAE0;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.8s ease-out;
    overflow: hidden;
}
.button:hover {
    background: #FEFAE0;
    width: 200px;
    align-items: center;
    
}
.icon {    
    text-align: center;
    border-radius: 50%;
    line-height: 60px;
    box-sizing: border-box;
}

.icon:hover {
    width: 200px;
    margin-left: -10px;
    align-items: center;     
}

.icon i {
    font-size: 20px;
    line-height: 60px;    
}

span a {
    font-size: 20px;   
    line-height: 60px;
    margin-left: 30px;
    margin-top: -10px; 
    text-decoration: none;
    color: #121011;;
}


/*-- Section footer--*/

.footer {
    padding: 10px;
    background: #121011;
    justify-content: center;
    text-align: center;
    color: #bf5b04;
    
}

.developed {    
    font-family: "DM Serif Display", serif;
    font-size: 30px;
}

/*Responsividade*/

@media (max-width: 990px) {
    body {
        overflow-x: hidden;
    }

    
    .container {
        padding: 50px;
        flex-direction: column;
        width: 60vh;
    }

    .nome {
        font-size: 40px;
        justify-content: center;
        margin-top: 10px;
    }

    .nav-list {
        position: absolute;
        top: 10vh;        
        width: 100vh;
        height: 92vh;
        background: #FEFAE0;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        font-size: 25px;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    /*-- Section about--*/

    section.about {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        padding: 50px;
    }

    button.button1 {
        margin-top: auto;
    }
    

    /*-- Section languages--*/

    .languageLearned {
        padding: 05px;    
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    img.language {
        width: 70px;
        height: 70px;
        border-radius: 10px;
    }

    
    p.about_me {
        font-size: 2vh;
        justify-content: center;
        align-content: center; 
        padding: 10px;
        margin-top: -50px;
        line-height: 5vh;           
    }

    .about_img {
        width: 49vh;
        height: 49vh;
        align-self: center;
    }

    button.button {
        margin-top: 0px;
    }


    /*-- Section project--*/

    .project {
        padding: 10px;
    }

    .galery-items img {
        width: 200px;
        height: 200px;
    }

    /*-- Section socialLinks--*/

    .socialLinks {
        padding: 20px;
        flex-direction: column;
    }

    .button {
        margin-top: 10px;
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateY(50px);
        } 
        to {
            opacity: 1;
            transform: translateX(0);
        }
    } 

   


}